## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/lib/whonix-setup-wizard/whonix-setup-wizard-setup
Name=Whonix Setup - Whonix connection wizard
GenericName=Whonix Setup
Comment=Whonix Setup
Categories=System
Icon=/usr/share/icons/anon-icon-pack/advancedsettings.ico
## Because we need a wrapper to start it.
X-KDE-StartupNotify=false
