## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Terminal=false
Exec=kdesudo whonix-setup-wizard setup
Name=Whonix Setup - Whonix connection wizard
GenericName=Whonix Setup
Comment=Whonix Setup
Categories=System
Icon=/usr/share/icons/anon-icon-pack/advancedsettings.ico
